<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <a href="/" class="navbar-brand">MovieApp</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="/movies/list" class="nav-link">Movies</a>
                </li>
            </ul>
        </div>
    </div>
</nav>