@model Movie

@section header 
{
    @await Html.PartialAsync("_header")
}


@section scripts
{
    <script src="~/js/script.js"></script>
}


<h1>Film List</h1>
<div id="filmler">
    @await Html.PartialAsync("_movie", Model)
</div>
