@model Movie

<h1>Create Movie</h1>
<hr/>

<form method="post" asp-controller="Movies" asp-action="Create">
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="Director">Director</label>
        <input asp-for="Director" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl">ImageUrl</label>
        <input asp-for="ImageUrl" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="GenreId">GenreId</label>
        <input asp-for="GenreId" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
