@model MoviesViewModel

<h1>Film List</h1>
@if (Model.Movies.Count() > 0)
{

    @foreach (var movie in Model.Movies)
    {
        @await Html.PartialAsync("_movie", movie)
    }
}
else 
{
    <div class="alert alert-warning">
        Bu kateqoriyada film tapilmadi . . .
    </div>
}



@section menu
{
    @*@await Html.PartialAsync("_menu", Model.Genres)*@

    @await Component.InvokeAsync("Genres")
}