@model MoviesViewModel

<h1>Film List</h1>
@foreach (var movie in Model.Movies)
{
    @await Html.PartialAsync("_movie", movie)
}

@section menu
{
    @*@await Html.PartialAsync("_menu", Model.Genres)*@

    @await Component.InvokeAsync("Genres")
}